input {
	border: none;
	outline: none;
	background: none;
}

.codeStyle {
	font: "IBM Plex Mono", monospace;
}

nav {
	width: 100%;
	justify-content: space-between;
	padding: 12px 32px;
	align-items: center;
	height: 72px;
}
nav .nav-items {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
	width: fit-content;
}
nav .nav-items a {
	color: #98a2b3;
	text-decoration: none;
	transition: 0.2s ease;
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: -0.02em;
	text-align: left;
}
nav .nav-items a:hover {
	color: #fff;
}
nav .search-bar {
	display: flex;
	gap: 8px;
	min-width: 320px;
	max-width: 540px;
	padding: 8px 12px;
	width: 100%;
	border-radius: 4px;
	background-color: #0a0b15 !important;
}
nav .search-bar input {
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: -0.02em;
	text-align: left;
}

.side-menu .side-menu-item {
	display: flex;
	gap: 8px;
	padding: 12px 0px;
	align-items: center;
	cursor: pointer;
}
.side-menu .side-menu-item p {
	color: #98a2b3;
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: -0.02em;
	text-align: left;
}
.side-menu .side-menu-item img {
	width: 18px;
	height: 18px;
}
.side-menu .side-menu-item.active p {
	color: #e17b03;
	font-size: 16px;
}
.side-menu .side-menu-item.active img {
	filter: invert(49%) sepia(68%) saturate(2992%) hue-rotate(11deg)
		brightness(100%) contrast(98%);
}
.side-menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	background-color: #101323;
	border-right: 1px solid #293056;
	padding: 24px;
	padding-right: 32px;
	width: 240px;
	height: calc(100vh - 72px);
}
.side-menu .divider {
	width: 100%;
	height: 1px;
	background-color: #363f72;
	margin: 10px 0;
	opacity: 0.7;
}

.main-content-container {
	display: flex;
	flex-direction: row;
	width: 100%;
}

p {
	margin: 0px !important;
}
